@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
*
{
	padding: 0;
	margin: 0;
}
ul.menu
{
	background-color: yellow;
	text-align: right;
}
ul.menu li
{
	display: inline-block;
}
ul.menu li a:hover
{
	color: white;
	background-color: black;
}
ul.menu li a
{
	text-decoration:none;
	font-family: 'Odibee Sans';
	color: black;
	display: inline-block;
	padding: 20px;
}