#button1
{
	display: none;
}
h1
{
	color: Blue;
	background-color: Yellow;
	padding: 2px;
}
p
{
	color: red;
	text-align: center;
	font-size: 32px;
}
body
{
	background-color: black;
	color: white;
	font-size: 24px;
<<<<<<< HEAD
h1
{
	color: Blue;
	background-color: Yellow;
	padding: 2px;
}
p
{
	color: red;
	text-align: center;
	font-size: 32px;
}
body
{
	background-color: black;
	color: white;
=======
h1
{
	color: Blue;
	background-color: Yellow;
	padding: 2px;
}
p
{
	color: red;
	text-align: center;
	font-size: 32px;
}
body
{
	background-color: black;
	color: white;
>>>>>>> 99371cda7a1dc450c6520b0584dbae8a1dbed4e3
	font-size: 24px;
}
