<<<<<<< HEAD
h1
{
	color: Blue;
	background-color: Yellow;
	padding: 2px;
}
p
{
	color: red;
	text-align: center;
	font-size: 32px;
}
body
{
	background-color: black;
	color: white;
	font-size: 24px;
}
=======
h1
{
	color: Blue;
	background-color: Yellow;
	padding: 2px;
}
p
{
	color: red;
	text-align: center;
	font-size: 32px;
}
body
{
	background-color: black;
	color: white;
	font-size: 24px;
}
>>>>>>> 53ed971bceb81cf569a174bdd2ff2821e0eda651
